title: 3D Engine
description: OpenGL C++ / Deferred Rendering
url: "" 

theme: minimal-mistakes-jekyll

minimal_mistakes_skin: "neon"

plugins:
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-seo-tag

author:
  name: "Montano Matteo"

  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/wixxeltv"
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true